
h1 {
  color: red;
}

.container p {
  color: rgb(5, 5, 244);
}

.blue-text {
  color: green;
}
/* selectores de elemento h1 (aplicado al ejercicio)
   seletores de clase (aplicado al ejercicio)
   selectores de id
   style in line
