/* Estilos para el contenedor */
.box {
  background-color: rgb(191, 236, 236);
  width: 200px;
  height: 100px;
  padding: 20px;
  border: 2px solid black;
  margin-bottom: 30px;
}
  /* margin-top, margin--lefth etc...
  para mover el box dentro de la web