
.flex-container {
  background-color: rgb(159, 242, 242);
  display: flex;
  flex-direction: column;
  align-items: center;
}


ul {
  list-style: none;
  padding: 100;
  margin: 50;
}

li {
  margin-top: 10px;
}
